<html>

<head>
  <title>Gadget Galore</title>
  <link href="/css/jquery.bxslider.css" rel="stylesheet" type="text/css">
  <link href="/css/fa/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet" type"text/css">
  <link href="/css/media.css" rel="stylesheet">
</head>

<body>
  <div id="wrapper">
    <div id="header">
      <div id="subheader">
        <div class="container">
          <p>Bringing The Very Best To Your Life</p>
          <a href="/help">Help</a><a href="/index">Home</a>
        </div>
      </div>
       <!--==main header==-->
       <div id="main-header">
         <!--==logo==-->
         <div id="logo">
           <span id="ist">Gadget</span><span id="iist">Galore</span>
         </div>
         <!--==search area==-->
         <div id="search">
           <form action="">
             <input class="search-area" type="text" name="text" placeholder="Search here">
             <input class="search-btn" type="submit" name="search" value="Search">
           </form>
          </div>
          <!--==user-menu==-->
          <div id="user-menu">
            <li><a href="/cart">Cart</a></li>
          </div>
       </div>
    </div>
    <!--==navigation bar==-->
    <div id="navigation">
      <a href="#" class="menu-togglr"><i class="fa fa-bars"></i> </a>
      <nav id="mainav">
        <a href="/products/category/mobile">Mobile</a>
        <a href="/products/category/pc">Laptop/Computer</a>
        <a href="/products/category/gaming">Gaming</a>
      </nav>
    </div>

<!----==Products section==---->

    <div id= "heading-block">
      <h3>Products</h3>
    </div>
    
    
     <!--- product list  --->
    <div class="prod-container">
      <% for(var i=0; i<products.length; i++) { %>
      <div class="prod-box">
        
        
        <img src="<%= products[i].imageURL %>" alt="Airpods"   >
        <div class="prod-trans">
          <div class= "prod-feature">
            <p> <%= products[i].name %> </p>
            <p>
               <%= products[i].price %> 
            </p>
            
            <input id="<%=i%>" class="button2 cartbtn" type="button" value ="Add to cart" />
          </div>
        </div>
      </div>
      <% } %>
    
 <!--==footer==-->
  <div id="footer">
    <div class="container">
      <div class="footer_sub_1">
        <h2>About Us</h2>
        <p>We are a startup company of an e-commerce, whose one sole purpose
          is to bring the best deals and deliver authentic products to all our
          customers around the world.
        </p>
      </div>
      <div class="footer_sub_2">
        <center>
          <h2> &nbsp; &nbsp; &nbsp; Follow us on</h2>
          <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
          </ul>
        </center>
      </div>
      <div class="footer_sub_3">
        <h2>Please leave your feedback</h2>
          <form>
            <textarea class="sub" name="feedback" placeholder="Type here"></textarea>
            <br/>
            <input class="button" type="submit" value="Submit"/>
          </form>
          <p><a href="mailto:wajid0194696@gmail.com">Click here to mail us<a/></p>
      </div>
    </div>
  </div>
  
  
  

  <script src="/lib/jquery/dist/jquery.min.js"></script>
  <script src="./js/jquery.bxslider.min.js"></script>
  <script src="./js/my.js"></script>
  
  <script>
  <!--- Adding to Cart  --->
  
  var CartData = [];
  
  if(sessionStorage.getItem('CartData')){
    CartData = JSON.parse(sessionStorage.getItem('CartData'));
  }
  
  var products = <%- JSON.stringify(products) %>;
    $(".cartbtn").click(function(event){
      //console.log($(this)[0].id);
      var index=$(this)[0].id;
      var prod = products[index];
      prod.quantity=1;
      //console.log(prod);
      var check2=false;
      for(var i=0; i<CartData.length; i++){
        if(prod == CartData[i]){
          check2=true;
          break;
        }
      }
      
      if(check2==false){
        CartData.push(prod);
      }
      
      for(var i=0;i<CartData.length-1; i++){
        for(var j=i+1; j<CartData.length; j++){
          if(CartData[i]._id==CartData[j]._id){
            CartData.splice(j,1);
          }
        }
      }
      
      sessionStorage.setItem('CartData', JSON.stringify(CartData));
     
      console.log(CartData);
      
    
    });
    
    
    
  </script>
    
</body>

</html>
